@use '@angular/material' as mat;
@include mat.core();

$sunset-primary-palette: (
  0: #000000,
  10: #330022,
  20: #531541,
  25: #63204e,
  30: #742c5c,
  35: #85386a,
  40: #964478,
  50: #b35d93,
  60: #d076ae,
  70: #ee90c9,
  80: #ffaee0,
  90: #ffd7ee,
  95: #ffebf5,
  98: #fff7fa,
  99: #fffbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #2b1524,
    20: #432a3a,
    25: #4f3546,
    30: #5c4052,
    35: #694c5e,
    40: #76586a,
    50: #907083,
    60: #ab899d,
    70: #c8a3b7,
    80: #e5bed2,
    90: #ffd9ec,
    95: #ffecf4,
    98: #fff7fa,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #231a20,
    20: #392f35,
    25: #453a40,
    30: #51454c,
    35: #5d5157,
    40: #6a5d63,
    50: #83757c,
    60: #9e8f96,
    70: #b9a9b0,
    80: #d5c4cc,
    90: #f2e0e8,
    95: #ffecf2,
    98: #fff7fa,
    99: #fffbff,
    100: #ffffff,
    4: #130b10,
    6: #180f15,
    12: #271e23,
    17: #32282e,
    22: #3d3339,
    24: #42383e,
    87: #e9d8e0,
    92: #f7e5ed,
    94: #fdeaf2,
    96: #fff0f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #29161f,
    20: #412b34,
    25: #4d3640,
    30: #59424c,
    35: #664d57,
    40: #725963,
    50: #8c717c,
    60: #a78b96,
    70: #c4a5b1,
    80: #e1c0cc,
    90: #ffdbe7,
    95: #ffedf1,
    98: #fff7fa,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$sunset-tertiary-palette: (
  0: #000000,
  10: #3a0b00,
  20: #5e1f00,
  25: #6e2900,
  30: #7f3410,
  35: #90401c,
  40: #a14c28,
  50: #bf6540,
  60: #de7f59,
  70: #ff9a73,
  80: #ffb79a,
  90: #ffdbc9,
  95: #ffede4,
  98: #fff8f5,
  99: #fffbff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #2c1710,
    20: #442c24,
    25: #51372f,
    30: #5e433a,
    35: #6b4e46,
    40: #795a51,
    50: #937269,
    60: #ae8c82,
    70: #cba69c,
    80: #e9c1b6,
    90: #ffddd2,
    95: #ffede6,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #261a17,
    20: #3c302c,
    25: #483b37,
    30: #554643,
    35: #61524e,
    40: #6e5e5a,
    50: #887672,
    60: #a3908b,
    70: #beaaa5,
    80: #dac5c0,
    90: #f7e1dc,
    95: #ffede9,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
    4: #160c09,
    6: #1c110e,
    12: #2b1f1b,
    17: #362926,
    22: #413430,
    24: #463935,
    87: #eed9d3,
    92: #fce6e1,
    94: #ffece6,
    96: #fff2ed,
  ),
  neutral-variant: (
    0: #000000,
    10: #2c1810,
    20: #432d24,
    25: #50382e,
    30: #5d4439,
    35: #6a4f45,
    40: #775b50,
    50: #917468,
    60: #ad8d81,
    70: #c9a89b,
    80: #e6c3b5,
    90: #ffdfd0,
    95: #ffede4,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
$scale: -1;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $sunset-primary-palette,
      tertiary: $sunset-tertiary-palette,
    ),

    density: (
      scale: $scale,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $sunset-primary-palette,
      tertiary: $sunset-tertiary-palette,
    ),

    density: (
      scale: $scale,
    ),
  )
);

@mixin apply-theme($theme) {
  @include mat.system-level-colors($theme);
  @include mat.all-component-themes($theme);
  @include mat.color-variants-backwards-compatibility($theme);
}
